* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #222;
    line-height: 110%;
    
}
img {
    display: block;
}
.navbar-logo {
    width: 5rem;
    max-width: 100px;
}
.navbar {
    padding: 1.38rem 0 1.42rem 1.88rem;
    background-color: #fff;
    filter: drop-shadow(0px 3px 7.5px rgba(0, 0, 0, 0.10));
}
.hero {
    display: flex;
    flex-direction: column;
}
section {
    padding: 0 2.25rem;
}
.hero-img {
    margin: 1.62rem calc(4.8rem - 2.25rem) 2rem;
    width: 100%;
    max-width: 700px;
    align-self: center;
}
.hero-title {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #000;
}
.hero-desc {
    font-size: 1rem;
    font-weight: 300;
}
.card-component {
    margin: 3.06rem 0 1.88rem;
}
.card {
    width: max-content;
}
.card-image {
    position: relative;
    margin: 0 0 0.56rem;
}
.card-img {
    width: 11rem;
    border-radius: 0.5625rem;
}
.card-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 0.125rem;
    padding: 0.31rem 0.38rem 0.25rem 0.37rem;
    margin: 0.69rem 0.75rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.64rem;
}
.card-rating {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;;
}
.rating p {
    font-size: 0.75rem;
    font-weight: 300;
}
.star-img {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.13rem 0 0;
}
.rating p {
    color: #918e9b;
    font-size: 0.75rem;
    font-weight: 300
}
.rating p span:first-child {
    color: #222;
    font-weight: 300;
}
.rating-desc {
    font-size: 0.75rem;
    font-weight: 300;
}
.rating-price {
    font-size: 0.75rem;
    font-weight: 300;
}
.rating-price span {
    font-weight: 600;
}
